<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="test/bootstrap.php">
    <!--<php>
        <var name="db_dsn" value="mysql:dbname=hello_world_test;host=localhost"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>
    </php>-->

    <testsuites>
        <testsuite name="PHP jieba test suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src/class</directory>
        </include>
        <exclude>
            <directory>./build</directory>
            <directory>./codesniffer</directory>
            <directory>./composer</directory>
            <directory>./test</directory>
            <directory>./travis</directory>
            <directory>./vendor</directory>
            <file>./src/jieba.php</file>
        </exclude>

        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="build/logs/junit.xml" />
    </logging>
</phpunit>
